.container
    background-color: grey
    width: 1000px
    margin: 0 auto
    display: grid
    grid-template-rows: repeat(2, minmax(150px, min-content))
    grid-template-columns: repeat(auto-fill, 300px)
    //grid-gap: 20px
    &__item
        background-color: green
        color: white
        font-size: 30px
        font-family: sans-serif
        padding: 10px
        &_1
            background: red
        &_2
            background: pink
        &_3
            background: brown
        &_4
            background: purple
        &_5
            background: blue
        &_6
            background: black
        &_7
            background: orange
        &_8